In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

# Connecting to SQLite Database
conn = sqlite3.connect('Sqlite/FantasyBaseball.sqlite')

In [2]:
# Load Batter Data
batters2019_data_to_load = "Data Sets/mlb-player-stats-Batters (2019).csv"
batters2018_data_to_load = "Data Sets/mlb-player-stats-Batters (2018).csv"
batters2017_data_to_load = "Data Sets/mlb-player-stats-Batters (2017).csv"
batters2016_data_to_load = "Data Sets/mlb-player-stats-Batters (2016).csv"
batters2015_data_to_load = "Data Sets/mlb-player-stats-Batters (2015).csv"
batters2014_data_to_load = "Data Sets/mlb-player-stats-Batters (2014).csv"
batters2013_data_to_load = "Data Sets/mlb-player-stats-Batters (2013).csv"
batters2012_data_to_load = "Data Sets/mlb-player-stats-Batters (2012).csv"
batters2011_data_to_load = "Data Sets/mlb-player-stats-Batters (2011).csv"
batters2010_data_to_load = "Data Sets/mlb-player-stats-Batters (2010).csv"

In [3]:
# Read batters Data File and store into Pandas DataFrames
batters2019_data = pd.read_csv(batters2019_data_to_load)
batters2018_data = pd.read_csv(batters2018_data_to_load)
batters2017_data = pd.read_csv(batters2017_data_to_load)
batters2016_data = pd.read_csv(batters2016_data_to_load)
batters2015_data = pd.read_csv(batters2015_data_to_load)
batters2014_data = pd.read_csv(batters2014_data_to_load)
batters2013_data = pd.read_csv(batters2013_data_to_load)
batters2012_data = pd.read_csv(batters2012_data_to_load)
batters2011_data = pd.read_csv(batters2011_data_to_load)
batters2010_data = pd.read_csv(batters2010_data_to_load)

In [4]:
#Add a column for the year of each dataset
batters2019_data['Year'] = 2019
batters2018_data['Year'] = 2018
batters2017_data['Year'] = 2017
batters2016_data['Year'] = 2016
batters2015_data['Year'] = 2015
batters2014_data['Year'] = 2014
batters2013_data['Year'] = 2013
batters2012_data['Year'] = 2012
batters2011_data['Year'] = 2011
batters2010_data['Year'] = 2010

In [6]:
batters2019_data.head()

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS,Year
0,Whit Merrifield,KC,2B,31,162,681,105,206,41,10,...,45,126,0,4,5,0.302,0.348,0.463,0.811,2019
1,Marcus Semien,OAK,SS,30,162,657,123,187,43,7,...,87,102,0,1,2,0.285,0.369,0.522,0.891,2019
2,Rafael Devers,BOS,3B,24,156,647,129,201,54,4,...,48,119,1,2,4,0.311,0.361,0.555,0.916,2019
3,Jonathan Villar,BAL,2B,29,162,642,111,176,33,5,...,61,176,2,4,4,0.274,0.339,0.453,0.792,2019
4,Ozzie Albies,ATL,2B,23,160,640,102,189,43,8,...,54,112,0,4,4,0.295,0.352,0.500,0.852,2019

In [11]:
#combine all batters datasets into one
batters = pd.concat([batters2019_data, batters2018_data, batters2017_data, batters2016_data, batters2015_data, 
           batters2014_data, batters2013_data, batters2012_data, batters2011_data, batters2010_data])

In [17]:
print(len(batters))

6850

In [18]:
# Print out null values of all columns of `df`
print(batters.isnull().sum(axis=0).tolist())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
# Load Pitcher Data
pitchers2019_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2019.csv"
pitchers2018_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2018.csv"
pitchers2017_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2017.csv"
pitchers2016_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2016.csv"
pitchers2015_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2015.csv"
pitchers2014_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2014.csv"
pitchers2013_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2013.csv"
pitchers2012_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2012.csv"
pitchers2011_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2011.csv"
pitchers2010_data_to_load = "Data Sets/Pitchers/mlb-player-stats-P 2010.csv"

In [20]:
# Read pitchers Data File and store into Pandas DataFrames
pitchers2019_data = pd.read_csv(pitchers2019_data_to_load)
pitchers2018_data = pd.read_csv(pitchers2018_data_to_load)
pitchers2017_data = pd.read_csv(pitchers2017_data_to_load)
pitchers2016_data = pd.read_csv(pitchers2016_data_to_load)
pitchers2015_data = pd.read_csv(pitchers2015_data_to_load)
pitchers2014_data = pd.read_csv(pitchers2014_data_to_load)
pitchers2013_data = pd.read_csv(pitchers2013_data_to_load)
pitchers2012_data = pd.read_csv(pitchers2012_data_to_load)
pitchers2011_data = pd.read_csv(pitchers2011_data_to_load)
pitchers2010_data = pd.read_csv(pitchers2010_data_to_load)

In [22]:
#Add a column for the year of each dataset
pitchers2019_data['Year'] = 2019
pitchers2018_data['Year'] = 2018
pitchers2017_data['Year'] = 2017
pitchers2016_data['Year'] = 2016
pitchers2015_data['Year'] = 2015
pitchers2014_data['Year'] = 2014
pitchers2013_data['Year'] = 2013
pitchers2012_data['Year'] = 2012
pitchers2011_data['Year'] = 2011
pitchers2010_data['Year'] = 2010

In [23]:
pitchers2019_data.head()

,Player,Team,Age,G,GS,CG,SHO,IP,H,ER,...,BB,HR,W,L,SV,BS,HLD,ERA,WHIP,Year
0,Justin Verlander,HOU,37,34,34,2,1,223.0,137,64,...,42,36,21,6,0,0,0,2.58,0.80,2019
1,Shane Bieber,CLE,25,34,33,3,2,214.1,186,78,...,40,31,15,8,0,0,0,3.28,1.05,2019
2,Gerrit Cole,HOU,30,33,33,0,0,212.1,142,59,...,48,29,20,5,0,0,0,2.50,0.89,2019
3,Stephen Strasburg,WAS,32,33,33,0,0,209.0,161,77,...,56,24,18,6,0,0,0,3.32,1.04,2019
4,Mike Minor,TEX,32,32,32,2,1,208.1,190,83,...,68,30,14,10,0,0,0,3.59,1.24,2019

In [24]:
#combine all pitchers datasets into one
pitchers = pd.concat([pitchers2019_data, pitchers2018_data, pitchers2017_data, pitchers2016_data, pitchers2015_data, 
           pitchers2014_data, pitchers2013_data, pitchers2012_data, pitchers2011_data, pitchers2010_data])

In [25]:
print(len(pitchers))

7638

In [26]:
# Print out null values of all columns of `df`
print(pitchers.isnull().sum(axis=0).tolist())

[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [27]:
#only column with a null is the age so no deletions are needed

In [28]:
#Write larger data sets to a CSV File
batters.to_csv("All Batters Data/Batters_2010-2019.csv")
pitchers.to_csv("All Pitchers Data/Pitchers_2010-2019.csv")