In [109]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [110]:
# Load Batter Data
batters_data_to_load = "All Batters Data/Batters_2010-2019.csv"
batters_leaders_data_to_load = "Data - Lead Batters/Batters_leaders__2010-2019.csv"
batters2019_data_to_load = "Data Sets/mlb-player-stats-Batters (2019).csv"
batters_leaders_2019_data_to_load = "Data Sets/Batter Leaders/Batter Leaders 2019.csv"

In [111]:
# Read batters Data File and store into Pandas DataFrames
batters_data = pd.read_csv(batters_data_to_load)
batters_leaders_data = pd.read_csv(batters_leaders_data_to_load)
batters2019_data = pd.read_csv(batters2019_data_to_load)
batters_leaders_2019 = pd.read_csv(batters_leaders_2019_data_to_load)

In [112]:
batters2019_data['Year'] = 2019
batters_leaders_2019['Year'] = 2019

In [113]:
print(len(batters_data))
print(len(batters2019_data))

6850
694

In [114]:
print(len(batters_leaders_data))
print(len(batters_leaders_2019))

1367
135

In [115]:
batters_leaders_data.head()

,Unnamed: 0,Player,Team,Pos,Age,G,AB,R,H,2B,...,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS,Year
0,0,Whit Merrifield,KC,2B,31,162,681,105,206,41,...,45,126,0,4,5,0.302,0.348,0.463,0.811,2019
1,1,Marcus Semien,OAK,SS,30,162,657,123,187,43,...,87,102,0,1,2,0.285,0.369,0.522,0.891,2019
2,2,Rafael Devers,BOS,3B,24,156,647,129,201,54,...,48,119,1,2,4,0.311,0.361,0.555,0.916,2019
3,3,Jonathan Villar,BAL,2B,29,162,642,111,176,33,...,61,176,2,4,4,0.274,0.339,0.453,0.792,2019
4,4,Ozzie Albies,ATL,2B,23,160,640,102,189,43,...,54,112,0,4,4,0.295,0.352,0.500,0.852,2019

In [116]:
batters_leaders_2019.head()

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS,Year
0,Whit Merrifield,KC,2B,31,162,681,105,206,41,10,...,45,126,0,4,5,0.302,0.348,0.463,0.811,2019
1,Marcus Semien,OAK,SS,30,162,657,123,187,43,7,...,87,102,0,1,2,0.285,0.369,0.522,0.891,2019
2,Rafael Devers,BOS,3B,24,156,647,129,201,54,4,...,48,119,1,2,4,0.311,0.361,0.555,0.916,2019
3,Jonathan Villar,BAL,2B,29,162,642,111,176,33,5,...,61,176,2,4,4,0.274,0.339,0.453,0.792,2019
4,Ozzie Albies,ATL,2B,23,160,640,102,189,43,8,...,54,112,0,4,4,0.295,0.352,0.500,0.852,2019

In [117]:
#combine all batters datasets into one
batters_without_leaders = pd.concat([batters_data, batters_leaders_data])
batters2019_without_leaders = pd.concat([batters2019_data, batters_leaders_2019])

In [118]:
print(len(batters_without_leaders))
print(len(batters2019_without_leaders))

8217
829

In [119]:
batters_without_leaders_df = batters_without_leaders.drop_duplicates(subset=['Player','Year'], keep=False)

In [120]:
batters2019_without_leaders_df = batters2019_without_leaders.drop_duplicates(subset=['Player'], keep=False)
print(len(batters_without_leaders_df))
print(len(batters2019_without_leaders_df))

4386
448

In [121]:
batters_without_leaders_df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)

# Then, drop the column as usual.
batters_without_leaders_df.drop(["a"], axis=1, inplace=True)

C:\Users\ssbne\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ssbne\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [122]:
#Write larger data sets to a CSV File
batters_without_leaders_df.to_csv("Arun Data/batters_without_leaders 2010-2019.csv")
batters2019_without_leaders_df.to_csv("Arun Data/batters_without_leaders 2019 Only.csv")